@using Fixatic.Types

<MudTable Items="@Tickets" T="Ticket"
          Hover="true" Striped="true"
          Breakpoint="Breakpoint.Sm" @bind-SelectedItem="@_selectedTicket"
          OnRowClick="@OnTicketClick">
    <ToolBarContent>
        <MudText Typo="Typo.h5">Tickets</MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>#</MudTh>
        <MudTh>Title</MudTh>
        <MudTh>Status</MudTh>
        <MudTh>Created</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="ID">@context.TicketId</MudTd>
        <MudTd DataLabel="Title">@context.Title</MudTd>
        <MudTd DataLabel="Status">@context.Status</MudTd>
        <MudTd DataLabel="Created">@context.Created</MudTd>
    </RowTemplate>
    <ChildRowContent>
        @if (context.TicketId == _selectedTicket?.TicketId && !OnTicketSelect.HasDelegate)
        {
            <MudTr>
                <td colspan="4">
                    <MudCard Elevation="0">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body1">@context.Content</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent Class="pt-0">
                            <MudGrid>
                                <MudItem xs="3">
                                    Modified: @GetText(context.Modified)
                                </MudItem>
                                <MudItem xs="3">
                                    Solved: @GetText(context.DateSolved)
                                </MudItem>
                                <MudItem xs="3">
                                    Priority: @(context.Priority.ToString())
                                </MudItem>
                                <MudItem xs="3">
                                    Type: @(context.Type.ToString())
                                </MudItem>
                            </MudGrid>
                        </MudCardContent>
                    </MudCard>
                </td>
            </MudTr>
        }
    </ChildRowContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>