@page "/login"
@using MudBlazor
@model FixaticApp.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
@{
    @(await Html.RenderComponentAsync<MudThemeProvider>(RenderMode.ServerPrerendered))

    <div class="mud-layout" style="">
        <div class="mud-main-content">
            <div class="mud-container mud-container-maxwidth-sm my-16 pt-16">

                <div class="mud-grid mud-grid-spacing-xs-3 justify-start">
                    <div class="mud-grid-item mud-width-full d-flex justify-center">
                        <img src="/img/logo.jpg" alt="Fixatic Logo" class="mud-image fluid object-fill object-center mud-elevation-10 rounded-lg">
                    </div>
                    <div class="mud-grid-item mud-width-full">
                        <div class="mud-paper mud-elevation-10 pa-4">
                            @Model.Message
                            <form method="post">
                                <div class="mud-input-control mud-input-required mud-input-input-control">
                                    <div class="mud-input-control-input-container">
                                        <div class="mud-input mud-input-text mud-input-underline">
                                            <input class="mud-input-slot mud-input-root mud-input-root-text" asp-for="@Model.Email" type="text" maxlength="524288">
                                            <div class="mud-input-slot mud-input-root mud-input-root-text" style="display:none" tabindex="-1">
                                            </div>
                                        </div>
                                        <label class="mud-input-label mud-input-label-animated mud-input-label-text mud-input-label-inputcontrol">Email</label>
                                    </div>
                                </div>

                                <div class="mud-input-control mud-input-required mud-input-input-control">
                                    <div class="mud-input-control-input-container">
                                        <div class="mud-input mud-input-text mud-input-underline">
                                            <input class="mud-input-slot mud-input-root mud-input-root-text" asp-for="@Model.Password" type="password" maxlength="524288">
                                            <div class="mud-input-slot mud-input-root mud-input-root-text" style="display:none" tabindex="-1">
                                            </div>
                                        </div>
                                        <label class="mud-input-label mud-input-label-animated mud-input-label-text mud-input-label-inputcontrol">Password</label>
                                    </div>
                                </div>

                                @Html.AntiForgeryToken()

                                <div class="d-flex align-center justify-space-between mt-5">
                                    <button type="submit" class="mud-button-root mud-button mud-button-filled mud-button-filled-primary mud-button-filled-size-medium mud-ripple ml-auto">
                                        <span class="mud-button-label">Login</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    /*
    <PageTitle>Fixatic - Login</PageTitle>
        <MudGrid>
        <MudItem Class="mud-width-full d-flex justify-center">
            <MudImage Src="/img/logo.jpg" Alt="Fixatic Logo" Fluid="true" ObjectFit="ObjectFit.Fill" Elevation="10" Class="rounded-lg" />
        </MudItem>
        <MudItem Class="mud-width-full">
            <MudPaper Class="pa-4" Elevation="10">
                <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                    <MudTextField T="string" Label="Email" @ref="emailField" Required="true" RequiredError="Email is required!"
                                  Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" />
                    <MudTextField T="string" Label="Password" @ref="pwField"
                                  InputType="InputType.Password"
                                  Required="true"
                                  RequiredError="Password is required!" />
                    <div class="d-flex align-center justify-space-between mt-5">
                        <MudButton OnClick="Login" Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto">Login</MudButton>
    </div>
    </MudForm>
    </MudPaper>
    </MudItem>
    </MudGrid>
    */


}
