@page "/login"
@model FixaticApp.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    <form method="post">
        Email:
        <input type="text" asp-for="@Model.Email" name="Email" value="" />
        <input type="password" asp-for="@Model.Password" />
        @Html.AntiForgeryToken()
        <input type="submit" />
    </form>
    /*
    <PageTitle>Fixatic - Login</PageTitle>
        <MudGrid>
        <MudItem Class="mud-width-full d-flex justify-center">
            <MudImage Src="/img/logo.jpg" Alt="Fixatic Logo" Fluid="true" ObjectFit="ObjectFit.Fill" Elevation="10" Class="rounded-lg" />
        </MudItem>
        <MudItem Class="mud-width-full">
            <MudPaper Class="pa-4" Elevation="10">
                <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                    <MudTextField T="string" Label="Email" @ref="emailField" Required="true" RequiredError="Email is required!"
                                  Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" />
                    <MudTextField T="string" Label="Password" @ref="pwField"
                                  InputType="InputType.Password"
                                  Required="true"
                                  RequiredError="Password is required!" />
                    <div class="d-flex align-center justify-space-between mt-5">
                        <MudButton OnClick="Login" Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto">Login</MudButton>
     </div>
    </MudForm>
    </MudPaper>
    </MudItem>
    </MudGrid>
    */


}
